*, *:before, *:after
  margin 0
  padding 0
  -webkit-box-sizing border-box
  box-sizing border-box

@font-face
  font-family bodyContent
  src url('ProximaNova-Regular.otf')
  
@font-face
  font-family headerContent
  src url('Ubuntu-Regular.ttf')

LMwhite     = #ffffff
LMHiLight   = #bdd530
LMLightGray = #9d9d9d
LMDarkGray  = #59595b
LMBlack     = #000000

specifyFont(inputColor, inputFont, inputSize)
  font-family inputFont
  font-size inputSize
  color inputColor
  line-height 120%
  
inputBasics()
  width 185px
  height 2em
  margin-bottom 0.5em
  width 185px
  border none
  outline none
  
body
  transition all 0.25s
  background LMwhite
  color LMDarkGray

.content
  //width 100%
  //height 100%
  transition all 1s
  
.container
  // box-sizing border-box
  width 100%


.column
  //margin-right 1em
  content ''
  display table
  clear both
  display inline-block
  &.fat
    position absolute
    top 0px
    left 200px
    width 75%
  &.narrow
    position absolute
    width 200px
    top 0px

.row
  float top
  display inline-block
  border 0px solid
  border-color LMHiLight
  //margin-bottom 1em
  &.short
    height 400px
    width 100%
    padding 1em
  &.header
    min-height 64px
    height auto
    width 100%
    display table
    clear both
    
  &.tall
    height auto
  &.regular
    height 300px
    
.centered
  display block
  margin-left 5%

.edge
  background-color LMLightGray
  width 0.33em
  position absolute
  height 100%
  left 200px
  
.horizontal
  background-color LMLightGray
  float top
  width auto
  height 0.33em

.indent
  margin-left 0em
    
.spacer
  height 0em

.break
  height 2em
    
.point
  transition all 0.25s
  specifyFont(LMDarkGray, bodyContent, 2em)
  &.hilight
    specifyFont(LMHiLight, bodyContent, 1em)
  &.header
    specifyFont(LMLightGray, headerContent, 1em)
    &:hover
      specifyFont(LMwhite, headerContent, 1em)
  
      
.toolCategory
  transition all 0.25s
  specifyFont(LMHiLight, bodyContent, 1.5em)
  
.tool
  transition all 0.25s
  specifyFont(LMDarkGray, bodyContent, 1.5em)

.hours
  specifyFont(LMBlack, bodyContent, 1.25em)
  &.title
    specifyFont(LMHiLight, bodyContent, 1.25em)
  
.caption
  transition all 0.25s
  specifyFont(LMBlack, headerContent, 1.25em)

.captionBox
  transition all 0.5s  
  
.events
  specifyFont(LMDarkGray, headerContent, 2em)
  
.about
  specifyFont(LMBlack, headerContent, 2em)

.input
  transition all 0.5s
  padding-left 1em
  specifyFont(LMBlack, bodyContent, 1em)
  background LMLightGray
  inputBasics()
  &.full
    width 90%
  &.file
    background none
    padding 0em
  &.area
    width 90%
    height 6em
    padding 1em
  &.listItem
    width  370px  

.submit
  transition all 0.25s
  specifyFont( LMHiLight, bodyContent, 1em)
  background LMDarkGray
  text-decoration none
  inputBasics()v
      
::-webkit-input-placeholder
  color LMDarkGray
    
:-moz-placeholder
  color LMDarkGray
  opacity  1

::-moz-placeholder
  color LMDarkGray
  opacity  1

:-ms-input-placeholder
  color LMDarkGray


    





