doctype html
html
  head
    meta(charset='utf-8')
    link(rel="stylesheet" href="/app.css")
  body
    div(id="content")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
    script(src="/index.js")