*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: bodyContent;
  src: url("ProximaNova-Regular.otf");
}
@font-face {
  font-family: headerContent;
  src: url("Ubuntu-Regular.ttf");
}
body {
  transition: all 0.25s;
  background: #fff;
  color: #59595b;
}
.content {
  transition: all 1s;
}
.container {
  width: 100%;
}
.column {
  content: '';
  display: table;
  clear: both;
  display: inline-block;
}
.column.fat {
  position: absolute;
  top: 0px;
  left: 200px;
  width: 75%;
}
.column.narrow {
  position: absolute;
  width: 200px;
  top: 0px;
}
.row {
  float: top;
  display: inline-block;
  border: 0px solid;
  border-color: #bdd530;
}
.row.short {
  height: 400px;
  width: 100%;
  padding: 1em;
}
.row.header {
  min-height: 64px;
  height: auto;
  width: 100%;
  display: table;
  clear: both;
}
.row.tall {
  height: auto;
}
.row.regular {
  height: 300px;
}
.centered {
  display: block;
  margin-left: 5%;
}
.edge {
  background-color: #9d9d9d;
  width: 0.33em;
  position: absolute;
  height: 100%;
  left: 200px;
}
.horizontal {
  background-color: #9d9d9d;
  float: top;
  width: auto;
  height: 0.33em;
}
.indent {
  margin-left: 0em;
}
.spacer {
  height: 0em;
}
.break {
  height: 2em;
}
.point {
  transition: all 0.25s;
  font-family: bodyContent;
  font-size: 2em;
  color: #59595b;
  line-height: 120%;
}
.point.hilight {
  font-family: bodyContent;
  font-size: 1em;
  color: #bdd530;
  line-height: 120%;
}
.point.header {
  font-family: headerContent;
  font-size: 1em;
  color: #9d9d9d;
  line-height: 120%;
}
.point.header:hover {
  font-family: headerContent;
  font-size: 1em;
  color: #fff;
  line-height: 120%;
}
.toolCategory {
  transition: all 0.25s;
  font-family: bodyContent;
  font-size: 1.5em;
  color: #bdd530;
  line-height: 120%;
}
.tool {
  transition: all 0.25s;
  font-family: bodyContent;
  font-size: 1.5em;
  color: #59595b;
  line-height: 120%;
}
.hours {
  font-family: bodyContent;
  font-size: 1.25em;
  color: #000;
  line-height: 120%;
}
.hours.title {
  font-family: bodyContent;
  font-size: 1.25em;
  color: #bdd530;
  line-height: 120%;
}
.caption {
  transition: all 0.25s;
  font-family: headerContent;
  font-size: 1.25em;
  color: #000;
  line-height: 120%;
}
.captionBox {
  transition: all 0.5s;
}
.events {
  font-family: headerContent;
  font-size: 2em;
  color: #59595b;
  line-height: 120%;
}
.about {
  font-family: headerContent;
  font-size: 2em;
  color: #000;
  line-height: 120%;
}
.input {
  transition: all 0.5s;
  padding-left: 1em;
  font-family: bodyContent;
  font-size: 1em;
  color: #000;
  line-height: 120%;
  background: #9d9d9d;
  width: 185px;
  height: 2em;
  margin-bottom: 0.5em;
  width: 185px;
  border: none;
  outline: none;
}
.input.full {
  width: 90%;
}
.input.file {
  background: none;
  padding: 0em;
}
.input.area {
  width: 90%;
  height: 6em;
  padding: 1em;
}
.input.listItem {
  width: 370px;
}
.submit {
  transition: all 0.25s;
  font-family: bodyContent;
  font-size: 1em;
  color: #bdd530;
  line-height: 120%;
  background: #59595b;
  text-decoration: none;
  width: 185px;
  height: 2em;
  margin-bottom: 0.5em;
  width: 185px;
  border: none;
  outline: none;
}
::-webkit-input-placeholder {
  color: #59595b;
}
:-moz-placeholder {
  color: #59595b;
  opacity: 1;
}
::-moz-placeholder {
  color: #59595b;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #59595b;
}
